.closed {
  display: none;
}

.opened {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: gray;
  z-index: 1;
  width: 50vw;
  height: 70vh;
  margin: auto;
  padding: 5%;
  overflow-y: scroll;
}

.overlay-content  {
  text-align: left;
}


.colour-name::after {
  content: ', ';
}

.colour-name:last-child::after {
  content: '';
}

.feedback-colour li {
  display: inline-flex;
  align-items: center;
}