.player-row {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-right: 40px;
}

.player-row-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 48px;
  margin-right: 10px;
}

.player-row__colour-picks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.player-row__colour-pick {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.speed-dial.open {
  border-color: var(--color-border);
}

/* speed dial */
.speed-dial__trigger-cell {
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 10px;
  height: 48px;
  width: 48px;
  position: relative;

  justify-content: center;
  align-items: center;
}

.speed-dial_colour-picks {
  display: none;
}

.speed-dial.open .speed-dial_colour-picks{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: absolute;
  z-index: 1;
  margin-top: -60px;
  margin-left: 49px;

  background-color: var(--color-master-card-back);
  padding: 5px;
  border-radius: 8px;
}

.speed-dial .speed-dial__colour-pick {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.speed-dial.open .speed-dial__colour-pick {
  display: flex;
}

/* speed dial animation */
.speed-dial .speed-dial__trigger-cell span {
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
  transition: transform 0.1s linear;
}


.speed-dial.open .speed-dial__trigger-cell span {
  transition: transform 0.1s linear;
  transform:  rotate(90deg);
}


.speed-sial_colour-picks {
  display: flex;
  flex-direction: column-reverse;
}

.speed-dial__colour-pick {
    animation-name: enter;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
    transform: scale(0);
    transform-origin: bottom center;
    opacity: 0;
}


@-webkit-keyframes enter {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
  }
}

@keyframes enter {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
  }
}

.player-row__submit-button {
  height: 48px;
}

@media (max-width: 480px) {
  .game-rows__player-row {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 20px;
  }

  .player-row {
    grid-template-columns: repeat(2, auto);
    margin-right: 0;
  }
}