.settings-overlay.opened {
  width: 480px;
}

.settings-overlay .overlay-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.settings-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-fieldset {
  border: none;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

input[type="number"] {
  width: 50px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid var(--color-border);
  padding: 5px;
}

input[type="checkbox"] {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid var(--color-border);
  padding: 5px;
}

@media (max-width: 480px) {
  .settings-overlay.opened {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .settings-overlay.opened {
    width: 90%;
  }
}