#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.title {
  font-weight: 700;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.game-result-header {
  font-weight: 700;
  font-size: 1.2rem;
}

.closed {
  display: none;
}

.opened {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: gray;
  z-index: 2;
  width: 50vw;
  height: 70vh;
  margin: auto;
  padding: 5%;
  overflow-y: scroll;
}

.settings-overlay.opened {
  width: 480px;
}

.overlay-content {
  text-align: left;
}

.colour-name::after {
  content: ', ';
}

.colour-name:last-child::after {
  content: '';
}

.feedback-colour {
  padding-left: 0;
}

.feedback-colour li {
  display: inline-flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.how-to-button {
  margin-right: 1rem;
}

.toggle {
  display: flex;
  margin-left: auto;
}