:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #737373;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* LIGHT THEME */
body.light {

  --color-font: #000;
  --color-body-background: #bfe1cc;
  --color-button: #aaa9ed;
  --color-master-card-back: #787777;
  --color-border: #6170b9;
  --color-accent: #535bf2;


  color: var(--color-font);
  background-color: var(--color-body-background);
}

body.light a:hover,
body.light button:hover {
  color: var(--color-accent);
}

body.light button {
  color: var(--color-font);
  background-color: var(--color-button);
}
/* LIGHT THEME */


/* DARK THEME */
body.dark {

  --color-font: #e7e7e7;
  --color-body-background: #213547;
  --color-button: #aaa9ed;
  --color-master-card-back: #787777;
  --color-border: #6170b9;
  --color-accent: #535bf2;


  color: var(--color-font);
  background-color: var(--color-body-background);
}

body.dark a:hover,
body.dark button:hover {
  color: var(--color-accent);
}

body.dark button {
  color: var(--color-font);
  background-color: var(--color-background);
}
/* DARK THEME */

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-accent);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
    border: 1px solid var(--color-font);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-border);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
